.home {
    margin-left: 40px;
    margin-right: 40px;
}

.projects {
    margin-left: 40px;
    margin-right: 40px;
    height: 500px;
}

.resume {
    margin-left: 40px;
    margin-right: 40px;
    height: 500px;
}

.title {
    text-align: left
}

.text {
    margin-bottom: 25px;
}

.resume-body {
    text-align: left;
}

.entry-header {
    font-weight: 600;
}

.experience {
    display: flex;
    justify-content: space-between;
}

.accomplishment {
    margin: 5px 0px;
}