.header {
    z-index: 9999;
    width: 100%;
    top: 0px;
    background-color: #00000000;
    height: 50px;
}

.name {
    float: left;    
}

.pages {
    float: right;
}

.item {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    font-weight: 500;
    line-height: inherit;
}
/* 
@media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right {
      float: none;
    }
  } */